[submodule "firmware/components/fmtlib/fmt"]
	path = firmware/components/fmtlib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "firmware/components/lvgl"]
	path = firmware/components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "firmware/components/eigen/eigen"]
	path = firmware/components/eigen/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "firmware/components/geographiclib/geographiclib"]
	path = firmware/components/geographiclib/geographiclib
	url = https://git.code.sf.net/p/geographiclib/code
