### ShiftWatch

CONFIG_MOUNT_ROOT="/s"
CONFIG_MAX_LINES_PER_FILE=100000
CONFIG_CAN_BAUD_RATE=500000
CONFIG_HW_VERSION=3


#####################################################


### CPU

# CONFIG_ESP32_DEFAULT_CPU_FREQ_80 is not set
# CONFIG_ESP32_DEFAULT_CPU_FREQ_160 is not set
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240


### Panic

CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
# CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT is not set
# CONFIG_ESP_SYSTEM_PANIC_SILENT_REBOOT is not set
# CONFIG_ESP_SYSTEM_PANIC_GDBSTUB is not set


### Compiler

# CONFIG_ESP32_REV_MIN_0 is not set
# CONFIG_ESP32_REV_MIN_1 is not set
CONFIG_ESP32_REV_MIN_2=y
# CONFIG_ESP32_REV_MIN_3 is not set
CONFIG_ESP32_REV_MIN=2

CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_EXCEPTIONS_EMG_POOL_SIZE=512
CONFIG_COMPILER_STACK_CHECK_MODE_NORM=y
CONFIG_COMPILER_STACK_CHECK=y


### Flash

CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHFREQ="80m"


### Monitor

CONFIG_ESP_CONSOLE_UART_CUSTOM=y
CONFIG_ESP_CONSOLE_UART=y
CONFIG_ESP_CONSOLE_MULTIPLE_UART=y
CONFIG_ESP_CONSOLE_UART_CUSTOM_NUM_0=y
# CONFIG_ESP_CONSOLE_UART_CUSTOM_NUM_1 is not set
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_UART_TX_GPIO=1
CONFIG_ESP_CONSOLE_UART_RX_GPIO=3
CONFIG_ESP_CONSOLE_UART_BAUDRATE=500000
CONFIG_ESPTOOLPY_MONITOR_BAUD_CONSOLE=y
CONFIG_ESPTOOLPY_MONITOR_BAUD=500000




### Peripherals

CONFIG_SPI_MASTER_IN_IRAM=y
CONFIG_SPI_MASTER_ISR_IN_IRAM=y

CONFIG_TWAI_ISR_IN_IRAM=y

CONFIG_UART_ISR_IN_IRAM=y



#####################################################


### FATFS

# CONFIG_FATFS_LFN_NONE is not set
CONFIG_FATFS_LFN_HEAP=y
# CONFIG_FATFS_LFN_STACK is not set
CONFIG_FATFS_MAX_LFN=255
CONFIG_FATFS_API_ENCODING_ANSI_OEM=y
# CONFIG_FATFS_API_ENCODING_UTF_16 is not set
# CONFIG_FATFS_API_ENCODING_UTF_8 is not set


### FREERTOS

CONFIG_FREERTOS_HZ=1000


### LVGL

CONFIG_LV_DISP_DEF_REFR_PERIOD=50
CONFIG_LV_INDEV_DEF_READ_PERIOD=50

CONFIG_LV_ATTRIBUTE_FAST_MEM_USE_IRAM=y
CONFIG_LV_CONF_SKIP=y
CONFIG_LV_HOR_RES_MAX=128
CONFIG_LV_VER_RES_MAX=64
CONFIG_LV_COLOR_DEPTH_1=y
CONFIG_LV_COLOR_DEPTH=1

CONFIG_LV_MEM_CUSTOM=y
CONFIG_LV_MEM_CUSTOM_INCLUDE="stdlib.h"
CONFIG_LV_MEM_CUSTOM_ALLOC="malloc"
CONFIG_LV_MEM_CUSTOM_FREE="free"
CONFIG_LV_MEMCPY_MEMSET_STD=y

CONFIG_LV_USE_OUTLINE=y
CONFIG_LV_USE_PATTERN=y
CONFIG_LV_USE_VALUE_STR=y
CONFIG_LV_USE_BLEND_MODES=y
CONFIG_LV_USE_OPA_SCALE=y
CONFIG_LV_USE_IMG_TRANSFORM=y
CONFIG_LV_USE_GROUP=y

CONFIG_LV_TICK_CUSTOM=y
CONFIG_LV_TICK_CUSTOM_INCLUDE="lvgl_tick.h"
CONFIG_LV_TICK_CUSTOM_SYS_TIME_EXPR="millis()"

CONFIG_LV_FONT_MONTSERRAT_8=y
CONFIG_LV_FONT_MONTSERRAT_10=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_22=y
CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_10=y
CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_10=y
CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_10=y
CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_22=y

CONFIG_LV_THEME_EMPTY=y
CONFIG_LV_THEME_MATERIAL=n
CONFIG_LV_THEME_DEFAULT_INIT_EMPTY=y
CONFIG_LV_THEME_DEFAULT_COLOR_PRIMARY=0x00
CONFIG_LV_THEME_DEFAULT_COLOR_SECONDARY=0xFF

CONFIG_LV_TXT_ENC_UTF8=y

CONFIG_LV_USE_OBJ_REALIGN=y
